{
    local_certs
    auto_https disable_redirects
    debug
}

(corsify) {
    header {
        ?Access-Control-Allow-Origin *
        ?Access-Control-Allow-Credentials true
        ?Access-Control-Allow-Methods *
        ?Access-Control-Allow-Headers *
    }
}

(harnessify) {

}

:4001 {
    import corsify
    reverse_proxy localhost:8008
}

:4000 {
    import corsify
    reverse_proxy localhost:8004
}

https://test.5e2a4aa8da440cfb1937acfbf7386e30285bc6538ba3e41c460cb0e74f1b7ec.6.yg:8448 {
    reverse_proxy localhost:8008
}

https://test.0e0521cfe768b2c17dbc2394e66020299334e7a10e51887471157421dde361e.0.yg:8448 {
    reverse_proxy localhost:8008
}

http:// {
    @options {
        method OPTIONS
    }

    @daemon_synapse {
        header X-Intercepted-Subdomain localhost
    }

    @daemon_synapse2 {
        header X-Intercepted-Subdomain synapse
    }

    @daemon_synapse1 {
        header X-Intercepted-Subdomain 192.168.50.148
    }

    handle @options {
        import corsify
        respond 204
    }

    handle @daemon_synapse {
        reverse_proxy localhost:8008
    }

    handle @daemon_synapse1 {
        reverse_proxy localhost:8008
    }

    handle @daemon_synapse2 {
        reverse_proxy localhost:8008
    }

    handle_path /harness/* {
        import corsify
        file_server {
            root /harness/
        }
    }

    handle {
        import corsify
        reverse_proxy localhost:8001
    }
}
