{
    local_certs
    auto_https disable_redirects
    
}

(corsify) {
    header {
        ?Access-Control-Allow-Origin *
        ?Access-Control-Allow-Credentials true
        ?Access-Control-Allow-Methods *
        ?Access-Control-Allow-Headers *
    }
}

(harnessify) {

}

:4001 {
    import corsify
    reverse_proxy localhost:8008
}

:4000 {
    import corsify
    reverse_proxy localhost:8004
}

http:// {
    @options {
        method OPTIONS
    }

    @daemon_synapse {
        header X-Intercepted-Subdomain localhost
    }

    @daemon_synapse2 {
        header X-Intercepted-Subdomain synapse
    }

    @daemon_synapse1 {
        header X-Intercepted-Subdomain 192.168.50.148
    }

    handle @options {
        import corsify
        respond 204
    }

    handle @daemon_synapse {
        reverse_proxy localhost:8008
    }

    handle @daemon_synapse1 {
        reverse_proxy localhost:8008
    }

    handle @daemon_synapse2 {
        reverse_proxy localhost:8008
    }

    handle_path /harness/* {
        import corsify
        file_server {
            root /harness/
        }
    }

    handle {
        import corsify
        reverse_proxy localhost:8001
    }
}
